<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Guessing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Which movie was released later?</h1>
        <p>Current Score: {{ score }}</p>
    </div>

    <form method="POST" class="movie-container">
        <button type="submit" name="guess" value="0" class="movie-item">
            <img src="{{ movies[0]['img_url_500'] }}" alt="{{ movies[0]['title'] }}" class="movie-img">
        </button>
        <button type="submit" name="guess" value="1" class="movie-item">
            <img src="{{ movies[1]['img_url_500'] }}" alt="{{ movies[1]['title'] }}" class="movie-img">
        </button>
    </form>

</body>
</html>
